.footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url(https://img.freepik.com/free-vector/vibrant-pink-watercolor-painting-background_53876-58931.jpg?w=2000);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
